.app {
  display: flex;
}

.title {
  display: none;
}
.headerControls {
  align-self: flex-end;
}

.main {
  padding-top: 48px;
}

.logo {
  margin: -28px;
}

.header {
  padding: 28px 40px;
  display: flex;
  justify-content: flex-end;
}
